{{#extend "layout"}}
    {{#content "body"}}
    
        <div>
            <form action="/wbtb-activedirectory/users" method="POST">
                <p>
                    Check users to add them, uncheck to remove.
                </p>
                <x-list class="--dense">
                    {{#each users}}
                        <x-list-row>
                            <label for="cb_userImport_{{guid}}">
                                {{name}}
                            </label>

                            {{#if mail}}
                                <input type="checkbox" name="cb_userImport_{{guid}}" id="cb_userImport_{{guid}}" {{#eq isImported "on"}}checked{{/eq}}  />
                            {{else}}
                                <span class="typography-warning">No email set - user cannot be imported</span>
                            {{/if}}
                        </x-list-row>
                    {{/each}}
                </x-list>
                <p>
                    <button class="button" type="submit">Save</button>
                </p>
            </form>
        </div>

    {{/content}}
{{/extend}}




