{{#extend "layout"}}
    {{#content "body"}}
        <div class="wbtbSlack-settings">
            <form action="/wbtb-slack/settings" method="POST">
                <h1>Slack Settings</h1>
                <div>
                    {{#if jobs}}
                        {{#each jobs}}
                            <div>{{name}}</div>
                            <div>
                                <select name="select_{{id}}">
                                    {{#each ../channels}}
                                        <option value="{{id}}" {{#eq id ../__contactMethod.channelId}}selected{{/eq}}>{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        {{/each}}
                    {{else}}
                        No Jobs set yet - create one to assign it's alerts to a Slack channel.
                    {{/if}}
                </div>                

                <button class="button" type="submit">Update</button>
            </form>
        </div>
    {{/content}}
{{/extend}}

