{{#extend "layout"}}
    {{#content "body"}}
        <div class="wbtbSlack-settings">
            <form action="/wbtb-slack/settings" method="POST">
                <h1>Slack Settings</h1>
                <div>
                    Access token
                    <input name="token" value="{{wbtbSlack.accessToken}}" placeholder="Slack access token" type="text" /> 
                </div>
                
                <div>
                    {{#if wbtbSlack.accessToken}}

                        {{#if jobs}}
                            {{#each jobs}}
                                <div>{{name}}</div>
                                <div>
                                    <select name="select_{{id}}">
                                        {{#each ../channels}}
                                            <option value="{{id}}" {{#eq id ../__contactMethod.channelId}}selected{{/eq}}>{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            {{/each}}
                        {{else}}
                            No Jobs set yet - create one to assign it's alerts to a Slack channel.
                        {{/if}}

                    {{else}}
                        <p>
                            Slack access token hasn't been set yet - cannot list channels
                        </p>
                    {{/if}}
                </div>                

                <button class="button" type="submit">Update</button>
            </form>
        </div>
    {{/content}}
{{/extend}}

