{{#extend "layout"}}
    {{#content "body"}}
        <div class="ciserver">
            <h1>Build Server</h1>
            <p>
                Build or continuous integration servers coordinate and run your project's builds. We will hook into 
                them to monitor your build history.
            </p>
            
            <div>
                <input class="ciserver-id" value="{{ciserver.id}}" type="hidden" />
                <input class="ciserver-name" placeholder="Name (display only)" value="{{ciserver.name}}" type="text" />
            </div>
            <div>
                <input class="ciserver-url" placeholder="Url" value="{{ciserver.url}}" type="text" />
            </div>
            <div>
                <input class="ciserver-username" placeholder="Admin username" value="{{ciserver.username}}" type="text" />
            </div>
            <div>
                <input class="ciserver-password" placeholder="Admin password" value="{{ciserver.password}}" type="password" />
            </div>
            <div>
                <select class="ciserver-type">
                    {{#each CIServerTypes}}
                        <option {{markSelected ../ciserver.type this}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <button class="button ciserver-post">{{#if isCreate}}Add{{else}}Update{{/if}}</button> 
                {{#unless isCreate}}
                    <button class="button ciserver-delete">Delete</button> 
                {{/unless}}
            </div>

            {{#unless isCreate}}
                <h2>jobs</h2>

                {{#if error}}
                    <p class="typography-error">
                        Error querying server : {{error}}
                    </p>
                {{/if}}

                <ul class="list">
                    {{#each jobs}}
                        <li class="list-item">
                            <div>
                                {{name}}
                            </div>

                            {{#if __noLongerAvailable}}
                                NO LONGER AVAILABLE
                            {{/if}}

                            {{#if __isImported}}
                                <a href="/settings/job/{{id}}">Edit</a>
                            {{else}}
                                <a class="button" href="/settings/job?name={{__nameUrlFriendly}}">Add</a>
                            {{/if}}
                            
                            {{#if __isImported}}
                                <button class="button ciserver-deleteJob" data-id="{{id}}">Delete</button>
                            {{/if}}

                        </li>
                    {{/each}}
                </ul>
            {{/unless}}
        </div>
            
    {{/content}}
{{/extend}}


