{{#extend "layout"}}
    {{#content "body"}}
        <h1>Job</h1>
        <div class="jobSettings">
            <input class="jobSettings-id" value="{{job.id}}" type="hidden" />
            <input class="jobSettings-name" placeholder="Name" value="{{job.name}}" type="text" />
            <input class="jobSettings-tags" placeholder="Tags" value="{{job.tags}}" type="text" />
            
            <input class="jobSettings-isPublic" id="jobSettings-isPublic" type="checkbox" {{#if job.isPublic}}checked{{/if}}>
            <label for="jobSettings-isPublic">Public</label>

            <select class="jobSettings-ciServerId">
                {{#each ciServers}}
                    <option value="{{this.id}}" {{markSelected ../job.CIServerId this.id}}>{{this.name}}</option>
                {{/each}}
            </select>            

            <select class="jobSettings-vcServerId">
                {{#each vcServers}}
                    <option value="{{this.id}}" {{markSelected ../job.VCServerId this}}>{{this.name}}</option>
                {{/each}}
            </select>

            <select class="jobSettings-logParser">
                {{#each logParsers}}
                    <option value="{{this}}" {{markSelected ../job.logParser this}}>{{this}}</option>
                {{/each}}
            </select>

            <button class="jobSettings-post">Create|Update</button> 
        </div>
    {{/content}}
{{/extend}}


