{{#extend "layout"}}
    {{#content "body"}}
        <h1>System settings</h1>
        
        <h3>
            Build Servers
            <a class="icon icon-add" href="/settings/ciserver" title="New CIServer"></a>
        </h3>
        <x-list class="--dense">
            {{#if ciservers}}
                {{#each ciservers}}
                    <x-list-row>
                        <x-list-cell>
                            <a href="/settings/ciserver/{{this.id}}">{{this.name}}</a>
                        </x-list-cell>
                        <x-list-cell>
                            {{this.url}}
                        </x-list-cell>
                    </x-list-row>
                {{/each}}
            {{else}}
                <x-list-row>
                    No build (continous integrations) servers have been added yet. These servers includes the likes of Jenkins,
                    Team City, etc. They coordinate your builds.
                </x-list-row>
            {{/if}}
        </x-list>
        

        <h3>
            Version Control 
            <a class="icon icon-add" href="/settings/vcserver" title="New VCServer"></a>
        </h3>
        
        <x-list class="--dense">
            {{#if vcservers}}
                {{#each vcservers}}
                    <x-list-row>
                        <x-list-cell>
                            <a href="/settings/vcserver/{{this.id}}">{{this.name}}</a>
                        </x-list-cell>
                        <x-list-cell>
                            {{this.url}}
                        </x-list-cell>
                    </x-list-row>
                {{/each}}
            {{else}}
                <x-list-row>
                    No version controls servers have been added yet. Version control servers includes the likes of Git,
                    SVN, Perforce, etc. Your source code and its history is stored here.
                </x-list-row>
            {{/if}}
        </x-list>

        <h3>
            Plugins
        </h3>
        <x-list class="--dense">
            {{#if pluginLinks}}
                {{#each pluginLinks}}
                    <x-list-row>
                        <a href="{{url}}">{{text}}</a>
                    </x-list-row>
                {{/each}}
            {{else}}
                <x-list-row>
                    No plugins are bound. Plugins are defined in the plugins.json file, in the project root.
                </x-list-row>                
            {{/if}}                
        </x-list>

        <h3>Daemon</h3>

        {{#if daemonRunning}}
            Daemon is currently running.
            <a class="button --warning" href="/settings/system/daemon/stop">Stop</a>
        {{else}}
            Daemon is currently stopped.
            <a class="button" href="/settings/system/daemon/start">Start</a>
        {{/if}}

        <h2>DANGER ZONE</h2>
        <div>
            <a class="button --danger settings-wipeAllBuilds" href="javascript:void(0)">Wipe all builds</a>
            <label for="settings-wipeAllBuildsConfirm">I mean it!</label>
            <input id="settings-wipeAllBuildsConfirm" type="checkbox" />
        </div>

    {{/content}}
{{/extend}}


