{{#extend "layout"}}
    {{#content "body"}}

        <div class="userSettings">
            <h1>{{user.name}} Settings</h1>

            <input class="userSettings-userId" value="{{user.id}}" type="hidden" /> 
            <a class="button" data="function-delete-user">Delete user</a>

            <h2>Contact methods</h2>
            <ul>
                {{#each contactMethods}}
                    <li>
                        <a href="{{link}}">{{name}}</a>
                    </li>
                {{/each}}
            </ul>

            <h2>Mapping</h2>
            <ul>
                {{#each user.userMappings}}
                    <li class="userSettings-vcServerBinding">
                        <div>
                            <input class="userSettings-vcServerBindingName" value="{{name}}" data-vcServerId="{{vcServer.id}}" type="text" />
                            <div>
                                {{vcServer.name}}
                            </div>
                        </div>
                    </li>
                {{/each}}
                <button class="userSetting-saveVCServerBindings">Update</button>
            </ul>

            <div>
                <select class="userSettings-vcServerAddUserServer">
                    {{#each vcServers}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
                <button data="vcServer-addUser">Add to server</button>
            </div>

        </div>

    {{/content}}
{{/extend}}


