{{#extend "layout"}}
    {{#content "body"}}

        <div class="userSettings">
            <h1>{{user.name}} Settings</h1>

            <h2>Contact methods</h2>
            <ul class="list">
                {{#if contactMethods}}
                    {{#each contactMethods}}
                        <li class="list-item list-item--textContent">
                            <a href="{{link}}">{{name}}</a>
                        </li>
                    {{/each}}
                {{else}}
                    None yet
                {{/if}}
            </ul>

            <h2>Mapping</h2>
            <p>
                Add {{user.name}}'s user ID on version control systems
            </p>

            <ul class="list">
                {{#if user.userMappings}}
                    {{#each user.userMappings}}
                        <li class="list-item list-item--textContent userSettings-vcServerBinding">
                            <div>
                                <div>
                                    {{vcServer.name}}
                                </div>
                                <input class="userSettings-vcServerBindingName" value="{{name}}" data-vcServerId="{{vcServer.id}}" type="text" />
                            </div>
                        </li>
                    {{/each}}
                    <button class="button userSetting-saveVCServerBindings">Update</button>
                {{else}}
                    <li class="list-item list-item--textContent">
                        No mappings yet
                    </li>
                {{/if}}
            </ul>

            <div>
                {{#if vcServers}}
                    <select class="userSettings-vcServerAddUserServer">
                        {{#each vcServers}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <button class="button" data="vcServer-addUser">Add to server</button>
                {{else}}
                    No version control systems are set up yet.
                {{/if}}
            </div>

        </div>

    {{/content}}
{{/extend}}


