{{#extend "layout"}}
    {{#content "body"}}
        <h1>Version control server</h1>
        <div class="vcserver">
            <div>
                <input class="vcserver-id" value="{{vcserver.id}}" type="hidden" />
            </div>
            <div>
                <input class="vcserver-name" placeholder="Name" value="{{vcserver.name}}" type="text" />
            </div>
            <div>
                <input class="vcserver-url" placeholder="Url" value="{{vcserver.url}}" type="text" />
            </div>
            <div>
                <input class="vcserver-username" placeholder="Admin username" value="{{vcserver.username}}" type="text" />
            </div>
            <div>
                <input class="vcserver-password" placeholder="Admin password" value="{{vcserver.password}}" type="password" />
            </div>
            <div>
                <input class="vcserver-accessToken" placeholder="Access token/password" value="{{vcserver.accessToken}}" type="password" />
            </div>
            <div>
                <select class="vcserver-vcs">
                    {{#each VCServerTypes}}
                        <option {{markSelected ../vcserver.vcs this}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <button class="button vcserver-post">
                    {{#if isCreate}}Add{{else}}Update{{/if}}
                </button> 
            </div>
        </div>
    {{/content}}
{{/extend}}


