{{#extend "layout"}}
    {{#content "body"}}
        <div class="build">
            <h1>Build {{build.build}}</h1>

            <div>
                Status : {{statusTranslate build.status}}
            </div>
            <div>
                Revisions 
                <ul>
                    {{#each build.revisions}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
            </div>
            
            <div>
                Job <a href="/job/{{build.jobId}}">{{build.__job.name}}</a>
            </div>

            <div>
                <h2>Log</h2>
                {{{preserveSpaces build.log}}}
                <div>
                    <a href="/build/log/{{build.id}}">Full log</a>
                </div>
            </div>

            <div>
                <button class="build-delete" data-id="{{build.id}}">Delete build</button>    
            </div>
        </div>

    {{/content}}
{{/extend}}


