{{#extend "layout"}}
    {{#content "body"}}
        <ul class="list build">

            <li class="list-item card">
                <div class="card-status card-status--{{statusTranslate build.status}}"></div>
                <div class="card-content">
                    <h1>Build #{{build.build}}</h1>
                    <p>
                        {{ago build.started}}
                    </p>
                    <p>
                        Built on :  {{build.host}}
                    </p>
                    <p>
                        Status : {{statusTranslate build.status}}{{#if build.delta}}, {{deltaTranslate build.delta}}{{/if}}
                    </p>
                </div>

            </li>
            
            <li class="list-item build-item">
                <div>
                    <p>
                        Job : <a href="/job/{{build.jobId}}">{{build.__job.name}}</a>
                    </p>
                    {{#if session.isAdmin}}
                        <button class="button build-delete" data-id="{{build.id}}">Remove build</button>    
                    {{/if}}
                </div>

                <h2>Changes in this build</h2>
                <ul class="list">
                    {{#if build.__buildInvolvements}}
                        {{#each build.__buildInvolvements}}
                            <li>
                                <h3>
                                    {{>buildInvolvementUserLink this}} ({{revision}})
                                </h3>
                                <p>
                                    {{__revision.description}}
                                </p>
                                <ul>
                                    {{#each revisionObject.files}}
                                        <li class="revision-file revision-file--{{#if isFault}}atFault{{/if}}">
                                            {{file}}
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    {{else}}
                        <li>
                            There are no revisions in this build
                        </li>
                    {{/if}}
                </ul>

                <h2>Log</h2>
                {{#if build.log}}
                    {{#if build.__isLogParsed }}
                        <p>
                            <ul class="buildLog">
                                {{#each build.__logParsedLines}}
                                    <li class="buildLog-item buildLog-item--{{type}}">
                                        {{text}}
                                    </li>
                                {{/each}}
                            </ul>
                        </p>
                    {{else}}
                        Log not parsed yet
                    {{/if}}                
                    <div>
                        <a href="/build/log/{{build.id}}">Full log</a>
                    </div>
                {{else}}
                    Build log not fetched yet
                {{/if}}
            </li>
        </ul>

    {{/content}}
{{/extend}}


