{{#extend "layout"}}
    {{#content "body"}}
        <x-card>
            <x-card-pad>
                <div class="card-status card-status--{{statusTranslate build.status}}"></div>
                <h1>Build #{{build.build}}</h1>
                <p>
                    Ran {{ago build.started}}{{#if build.ended}}, took {{durationLong build.ended build.started}} to complete{{/if}}
                </p>
                <p>
                    Built on :  {{build.host}}
                </p>
                <p>
                    Job : <a href="/job/{{build.jobId}}">{{job.name}}</a>
                </p>
                <p>
                    <a href="{{linkToBuild}}">View on {{ciServer.name}}</a>
                </p>
                <p>
                    Status : {{statusAndDeltaTranslate build.status build.delta}}
                    {{#if responsibleBreakingBuild}}
                        <a href="/build/{{responsibleBreakingBuild.id}}">{{responsibleBreakingBuild.build}}</a>
                    {{/if}}

                    {{#if buildBreakers}}
                        <div>
                            Broken by :
                            {{#each buildBreakers}}
                                <a href="/user/{{id}}">{{name}}</a>
                            {{/each}}
                        </div>
                    {{/if}}
                </p>
                <p>
                    {{#if previousBuild}}
                        <a href="/build/{{previousBuild.id}}">Previous ({{durationLong build.started previousBuild.started}})</a>
                    {{/if}}

                    {{#if nextBuild}}
                        <div>
                            <a href="/build/{{nextBuild.id}}">Next ({{durationLong nextBuild.started build.started}})</a>
                        </div>
                    {{/if}}
                </p>
                {{#if session.isAdmin}}
                    <div>
                        <h2>Admin</h2>
                        <button class="button danger" data-id="{{build.id}}">Remove build</button>    
                    </div>
                {{/if}}

            </x-card-pad>
        </x-card>
        
        <x-card>
            <x-card-pad>
                <h2>Changes in this build</h2>
                <ul class="list revisionList">
                    {{#if build.involvements}}
                        {{#each build.involvements}}
                            <li class="revisionList-item revisionList-item--{{#if __isFault}}hasFault{{/if}}">
                                <h3>
                                    {{>buildInvolvementUserLink this}} ({{revision}}) 
                                </h3>
                                <div>
                                    <b>
                                        {{buildInvolvementTranslate involvement}}
                                    </b>
                                </div>
                                <i>
                                    {{revisionObject.description}}
                                </i>
                                {{#if revisionObject.files}}
                                    <ul>
                                        <h4>Files</h4>
                                        {{#each revisionObject.files}}
                                            <li class="revision-file revision-file--{{#if isFault}}atFault{{/if}}">
                                                {{file}}
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{else}}
                                    Revision data still being processed, check back later.
                                {{/if}}
                            </li>
                        {{/each}}
                    {{else}}
                        <li>
                            There are no revisions in this build
                        </li>
                    {{/if}}
                </ul>

                {{#eq build.status constants.BUILDSTATUS_FAILED}}
                    <h2>Log</h2>
                    <ul class="buildLog">
                        {{#if build.logData}}
                            {{#each build.logData}}
                                <li class="buildLog-item buildLog-item--{{type}}">
                                    {{text}}
                                </li>
                            {{/each}}
                            <li>
                                <a href="/build/log/{{build.id}}">Full log</a>
                            </li>
                        {{else}}
                            <li class="buildLog-item">
                                Log is empty or has not been processed yet
                            </li>
                        {{/if}}
                    </ul>
                {{/eq}}
            </x-card-pad>
        </x-card>

    {{/content}}
{{/extend}}


