{{#extend "layout"}}
    {{#content "body"}}
        <div class="build">

            <div class="card">
                <div class="card-status card-status--{{statusTranslate __latestBuild.status}}"></div>
                <div class="card-content">
                    <h1>Build {{build.build}}</h1>
                    <p>
                        Status : {{statusTranslate build.status}}
                    </p>
                </div>
            </div>

            <p>
                Job <a href="/job/{{build.jobId}}">{{build.__job.name}}</a>
            </p>

            <div>
                <h2>Revisions</h2>
                <ul>
                    {{#if build.__revisions}}
                        {{#each build.__revisions}}
                            <li>
                                {{{renderPartialByName __viewName this}}}
                            </li>
                        {{/each}}
                    {{else}}
                        <li>
                            That's odd - there are no revisions in this build?
                        </li>
                    {{/if}}

                </ul>
            </div>
            


            <div class="build-log">
                <h2>Log</h2>
                <p>
                    {{{preserveSpaces build.log}}}
                </p>
                <div>
                    <a href="/build/log/{{build.id}}">Full log</a>
                </div>
            </div>

            <div>
                <button class="build-delete" data-id="{{build.id}}">Delete build</button>    
            </div>
        </div>

    {{/content}}
{{/extend}}


