{{#extend "layout"}}
    {{#content "body"}}
        <ul class="list build">

            <li class="list-item card">
                <div class="card-status card-status--{{statusTranslate build.status}}"></div>
                <div class="card-content">
                    <h1>Build {{build.build}}</h1>
                    <p>
                        Built on :  {{build.host}}
                    </p>
                    <p>
                        Status : {{statusTranslate build.status}}{{#if build.delta}}, {{deltaTranslate build.delta}}{{/if}}
                    </p>
                </div>

            </li>
            
            <li class="list-item build-item">
                <div>
                    <p>
                        Job : <a href="/job/{{build.jobId}}">{{build.__job.name}}</a>
                    </p>
                    {{#if session.isAdmin}}
                        <button class="button build-delete" data-id="{{build.id}}">Remove build</button>    
                    {{/if}}
                </div>

                <h2>Revisions</h2>
                <ul class="list">
                    {{#if build.__buildInvolvements}}
                        {{#each build.__buildInvolvements}}
                            <li>
                                <h3>
                                    {{>buildInvolvementUserLink this}}
                                </h3>
                                {{__revision.description}}
                                <ul>
                                    {{#each revisionObject.files}}
                                        <li>
                                            <div class="{{#if __isLikelyFaultCause}}typography-warning{{/if}}">
                                                {{file}}
                                                <span>
                                                    {{#if __isLikelyFaultCause}}
                                                        {{__faultChancePercent}}% chance 
                                                    {{/if}}
                                                </span>
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    {{else}}
                        <li>
                            That's odd - there are no revisions in this build?
                        </li>
                    {{/if}}
                </ul>

                <h2>Log</h2>
                <p>
                    {{#if build.isLogParsed}}
                        {{{preserveSpaces build.logParsed}}}
                    {{else}}
                        Log not parsed.
                    {{/if}}
                </p>

                <div>
                    <a href="/build/log/{{build.id}}">Full log</a>
                </div>

            </li>
        </ul>

    {{/content}}
{{/extend}}


