{{#extend "layout"}}
    {{#content "body"}}
        
        <h1>Build #{{build.build}}</h1>
        <x-columns class="--two">
            <x-card class="--stroke">
                <x-card-stroke class="--{{statusTranslate __latestBuild.status}}"></x-card-stroke>
                <x-card-pad>
                    Status : {{statusAndDeltaTranslate build.status build.delta}}
                    {{#if responsibleBreakingBuild}}
                        <a href="/build/{{responsibleBreakingBuild.id}}">{{responsibleBreakingBuild.build}}</a>
                    {{/if}}

                    {{#if buildBreakers}}
                        <div>
                            Broken by :
                            {{#each buildBreakers}}
                                <a href="/user/{{id}}">{{name}}</a>
                            {{/each}}
                        </div>
                    {{/if}}
                </x-card-pad>
                <x-card-pad>
                    Ran {{ago build.started}}{{#if build.ended}}, took {{durationLong build.ended build.started}} to complete{{/if}}
                </x-card-pad>
                <x-card-pad>
                    Built on :  {{build.host}}
                </x-card-pad>
                <x-card-pad>
                    <a href="{{linkToBuild}}">View on {{ciServer.name}}</a>
                </x-card-pad>
            </x-card>
            <x-card>
                <x-card-pad>
                    Job : <a href="/job/{{build.jobId}}">{{job.name}}</a>
                </x-card-pad>
                <x-card-pad>

                    <p>
                        {{#if previousBuild}}
                            <a href="/build/{{previousBuild.id}}">Previous ({{durationLong build.started previousBuild.started}})</a>
                        {{/if}}

                        {{#if nextBuild}}
                            <div>
                                <a href="/build/{{nextBuild.id}}">Next ({{durationLong nextBuild.started build.started}})</a>
                            </div>
                        {{/if}}
                    </p>
                    {{#if session.isAdmin}}
                        <div>
                            <h2>Admin</h2>
                            <button class="button --danger" data-id="{{build.id}}">Remove build</button>    
                        </div>
                    {{/if}}
                </x-card-pad>
            </x-card>
        </x-columns>

        
        <x-card>
            <x-card-pad>
                <h2>Changes in this build</h2>
                <ul class="list revisionList">
                    {{#if build.involvements}}
                        {{#each build.involvements}}
                            <li class="revisionList-item revisionList-item--{{#if __isFault}}hasFault{{/if}}">
                                <h3>
                                    {{>buildInvolvementUserLink this}} ({{revision}}) 
                                </h3>
                                <div>
                                    <b>
                                        {{buildInvolvementTranslate involvement}}
                                    </b>
                                </div>
                                <i>
                                    {{revisionObject.description}}
                                </i>
                                {{#if revisionObject.files}}
                                    <h4>Files</h4>
                                    <pre class="pre">
                                        {{#each revisionObject.files}}
                                            <div class="revision-file revision-file--{{#if isFault}}atFault{{/if}}">
                                                {{file}}
                                            </div>
                                        {{/each}}
                                    </pre>
                                {{else}}
                                    Revision data still being processed, check back later.
                                {{/if}}
                            </li>
                        {{/each}}
                    {{else}}
                        <li>
                            There are no revisions in this build
                        </li>
                    {{/if}}
                </ul>

                {{#eq build.status constants.BUILDSTATUS_FAILED}}
                    <h2>Log</h2>
                    <pre class="code">
                        {{#if build.logData}}
                            {{#each build.logData}}
                                {{text}}
                            {{/each}}
                                <a href="/build/log/{{build.id}}">Full log</a>
                        {{else}}
                                Log is empty or has not been processed yet
                        {{/if}}
                    </pre>
                {{/eq}}
            </x-card-pad>
        </x-card>

    {{/content}}
{{/extend}}


