{{#extend "layout"}}
    {{#content "body"}}

        {{>jobBanner job=job}}
        <h1>Build #{{build.build}}</h1>
        <div data-isBuild />
        <x-columns class="--two">
            <x-card class="--stroke --top">
                <x-card-stroke class="--{{statusTranslate build.status}}"></x-card-stroke>
                <x-card-pad>
                    Status : {{statusAndDeltaTranslate build.status build.delta}}
                    {{#if responsibleBreakingBuild}}
                        <a href="/build/{{responsibleBreakingBuild.id}}">{{responsibleBreakingBuild.build}}</a>
                    {{/if}}

                    {{#if buildBreakers}}
                        <div>
                            Broken by :
                            {{#each buildBreakers}}
                                <a href="/user/{{id}}">{{name}}</a>
                            {{/each}}
                        </div>
                    {{/if}}
                </x-card-pad>
                <x-card-pad>
                    Job : <a href="/job/{{build.jobId}}">{{job.name}}</a>
                </x-card-pad>
                <x-card-pad>
                    Built on :  {{build.host}}
                </x-card-pad>
                <x-card-pad>
                    <a href="/build/log/{{build.id}}">Raw log</a> 
                </x-card-pad>
                <x-card-pad>
                    <a href="{{linkToBuild}}">View on {{ciServer.name}}</a>
                </x-card-pad>
            </x-card>
            <x-card class="--top">
                <x-card-pad>
                    <h5>Timeline</h5>
                    Ran on {{shortDateAndTime build.started}} ({{ago build.started}}{{#if build.ended}} )
                    <div>
                        
                    </div>
                    <div>
                        Took {{durationLong build.ended build.started}} to complete{{/if}}
                    </div>
                </x-card-pad>
                <x-card-pad>
                    {{#if previousBuild}}
                        Previous build : <a href="/build/{{previousBuild.id}}"> ({{durationLong build.started previousBuild.started}})</a>
                    {{/if}}
                </x-card-pad>
                <x-card-pad>
                    {{#if nextBuild}}
                        Next  build : <a href="/build/{{nextBuild.id}}"> ({{durationLong nextBuild.started build.started}})</a>
                    {{/if}}
                </x-card-pad>
                <x-card-pad>
                    {{#if session.isAdmin}}
                        <div>
                            <h5>Admin</h5>
                            <button class="button --danger" data-deleteBuild="{{build.id}}">Remove build</button>    
                            <p class="quiet">
                                Delete this build to reset its data. The build will be automatically reimported if
                                the CI system it was originally imported from is still being tracked, and the build
                                still exists there.
                            </p>
                        </div>
                        {{#if canAlertBeUndone}}
                            <button class="button --warning" data-undoAlerts="{{build.id}}">Delete alerts</button>    
                            <p class="quiet">
                                Public alerts have already been sent out for this build. You can delete them here.
                            </p>
                        {{/if}}
                    {{/if}}
                </x-card-pad>
            </x-card>
        </x-columns>

        
        <h2>Changes</h2>
            <x-list class="build-changes">
                {{#if build.involvements}}
                    {{#each build.involvements}}
                        <x-list-row>
                            <x-list-cell>
                                <div>
                                    #{{revision}} - <span class="bold">{{revisionObject.description}}</span> 
                                </div>
                                <div class="quiet" >
                                    {{buildInvolvementTranslate involvement}} by {{>buildInvolvementUserLink this}} 
                                </div>
                                {{#if revisionObject.files}}
{{!note, outer element is div so each file is on new line, and inner element is span so background color is behind text only}}                                
<pre class="code">{{#each revisionObject.files}}<div><span class="build-revisionFile build-revisionFile--{{#if isFault}}atFault{{/if}}">{{file}}</span></div>{{/each}}</pre>
                                {{else}}
                                    Revision data still being processed, check back later.
                                {{/if}}
                            </x-list-cell>
                        </x-list-row>
                    {{/each}}
                {{else}}
                    <x-list-row>
                        There are no revisions in this build
                    </x-list-row>
                {{/if}}
            </x-list>

                {{#eq build.status constants.BUILDSTATUS_FAILED}}
 
                    <h2>Log</h2>

{{#if build.logData}}
<pre class="code">{{#each build.logData}}<div>{{text}}</div>{{/each}}</pre>
                    <a href="/build/log/{{build.id}}">Full log</a>
{{else}}
                    Log is empty or has not been processed yet
{{/if}}
                {{/eq}}


    {{/content}}
{{/extend}}


