{{#extend "layout"}}
    {{#content "body"}}
        <ul class="list build">

            <li class="list-item card">
                <div class="card-status card-status--{{statusTranslate build.status}}"></div>
                <div class="card-content">
                    <h1>Build #{{build.build}}</h1>
                    <p>
                        {{ago build.started}}
                    </p>
                    <p>
                        Built on :  {{build.host}}
                    </p>
                    <p>
                        Status : {{statusTranslate build.status}}{{#if build.delta}}, {{deltaTranslate build.delta}}{{/if}}
                    </p>
                </div>

            </li>
            
            <li class="list-item build-item">
                <div>
                    <p>
                        Job : <a href="/job/{{build.jobId}}">{{job.name}}</a>
                    </p>
                    {{#if session.isAdmin}}
                        <button class="button build-delete" data-id="{{build.id}}">Remove build</button>    
                    {{/if}}
                </div>

                <h2>Changes in this build</h2>
                <ul class="list">
                    {{#if buildInvolvements}}
                        {{#each buildInvolvements}}
                            <li>
                                <h3>
                                    {{>buildInvolvementUserLink this}} ({{revision}})
                                </h3>
                                <p>
                                    {{__revision.description}}
                                </p>
                                <ul>
                                    {{#each __revision.files}}
                                        <li class="revision-file revision-file--{{#if isFault}}atFault{{/if}}">
                                            {{file}}
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    {{else}}
                        <li>
                            There are no revisions in this build
                        </li>
                    {{/if}}
                </ul>

                {{#eq build.status constants.BUILDSTATUS_FAILED}}
                    <h2>Log</h2>
                    {{#if isLogParsed}}
                        <ul class="buildLog">
                            {{#if logParsedLines}}
                                {{#each logParsedLines}}
                                    <li class="buildLog-item buildLog-item--{{type}}">
                                        {{text}}
                                    </li>
                                {{/each}}
                                <li>
                                    <a href="/build/log/{{build.id}}">Full log</a>
                                </li>
                            {{else}}
                                <li class="buildLog-item">
                                    Log is empty
                                </li>
                            {{/if}}
                        </ul>
                    {{else}}
                        Build log could not be parsed
                    {{/if}}
                {{/eq}}
            </li>
        </ul>

    {{/content}}
{{/extend}}


