{{#extend "layout"}}
    {{#content "body"}}
        <h1>Notifications</h1>
        <x-list>
            {{#if contactLogs.items}}
                {{#each contactLogs.items}}
                    <x-list-row>
                        <x-list-cell>
                            <a href="/user/{{__user.id}}">{{__user.name}}</a>
                        </x-list-cell>
                        <x-list-cell>
                            {{eventContext}}
                        </x-list-cell>
                        <x-list-cell>
                            {{ago created}}
                        </x-list-cell>
                    </x-list-row>
                {{/each}}

                {{{pager "/contactLog" contactLogs }}}
                
            {{else}}
                <p>
                    No alerts have been sent out yet.
                </p>
            {{/if}}

        </x-list>
    {{/content}}
{{/extend}}


