{{#extend "layout"}}
    {{#content "body"}}
        <h1>Notifications</h1>
        <ul>
            {{#if contactLogs.items}}
                {{#each contactLogs.items}}
                    <li class="struc-row struc-row--padded">
                        <div class="struc-cell">
                            <a href="/user/{{__user.id}}">{{__user.name}}</a>
                        </div>
                        <div class="struc-cell">
                            {{eventContext}}
                        </div>
                        <div class="struc-cell">
                            {{ago created}}
                        </div>
                    </li>
                {{/each}}

                {{{pager "/contactLog" contactLogs }}}
                
            {{else}}
                <p>
                    No alerts have been sent out yet.
                </p>
            {{/if}}

        </ul>
    {{/content}}
{{/extend}}


