{{#extend "layout"}}
    {{#content "body"}}
        <div>
            {{#if jobs}}
                <ul class="list jobs">
                    {{#each jobs}}
                        <li class="card list-item {{#if __breakingBuild}}list-item--error{{/if}}">

                            <div class="card-status card-status--{{statusTranslate __latestBuild.status}}"></div>

                            <div class="card-content">
                                <a class="jobs-title" href="/job/{{id}}">{{name}}</a>

                                {{#if __latestBuild}}
                                    last build was <a href="/build/{{__latestBuild.id}}">{{__latestBuild.build}}</a>{{#if __latestBuild.ended}} ({{ago __latestBuild.ended}}){{/if}}.

                                    {{#if __breakingBuild}}
                                        {{#if __breakingBuild.__buildInvolvements}}
                                            Broken by  
                                            {{#each __breakingBuild.__buildInvolvements}}
                                                {{#if __user}}
                                                    <a href="/user/{{__user.id}}">{{__user.name}}</a>
                                                {{else}}
                                                    {{externalUsername}}
                                                {{/if}}
                                            {{/each}}

                                            {{#neq __breakingBuild.id __latestBuild.id}}
                                                @ <a href="/build/{{__breakingBuild.id}}">{{__breakingBuild.build}}</a> {{#if __breakingBuild.ended}}({{ago __breakingBuild.ended}}){{/if}}
                                            {{/neq}}
                                        {{/if}}
                                    {{/if}}

                                {{else}}
                                    hasn't run yet
                                {{/if}}       
                            </div>

                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p>
                    There are currently no builds to show
                </p>
            {{/if}}
        </div>
    {{/content}}
{{/extend}}
