{{#extend "layout"}}
    {{#content "body"}}
        {{#if jobs}}
            <x-columns class="--four">
                {{#each jobs}}
                    <x-card class="--stroke {{statusTranslate __latestBuild.status}}">
                        <x-card-stroke class="--{{statusTranslate __latestBuild.status}}"></x-card-stroke>
                        <x-card-pad>
                            <h4 class="bold">
                                <a class="jobs-title" href="/job/{{id}}">{{name}}</a>
                            </h4>

                            {{#if __latestBuild}}
                                last build was <a href="/build/{{__latestBuild.id}}">{{__latestBuild.build}}</a>
                                
                                {{#if __latestBuild.ended}} 
                                    ({{ago __latestBuild.ended}})
                                {{else}}
                                    ,started {{ago __latestBuild.started}}
                                {{/if}}

                                {{! broken message}}
                                {{#if __breakingBuild}}
                                    <div>
                                        Broken  
                                        {{#neq __breakingBuild.id __latestBuild.id}}
                                             @ <a href="/build/{{__breakingBuild.id}}">{{__breakingBuild.build}}</a> {{#if __breakingBuild.ended}}({{ago __breakingBuild.ended}}){{/if}}
                                        {{/neq}}

                                        {{#each __breakingBuild.involvements}}
                                            {{#if this.__isFault}}
                                                by
                                                {{#if __user}}
                                                    <a href="/user/{{__user.id}}">{{__user.name}}</a>
                                                {{else}}
                                                    {{externalUsername}}
                                                {{/if}}
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                {{/if}}

                            {{else}}
                                hasn't run yet
                            {{/if}}       
                        </x-card-pad>
                    </x-card>
                {{/each}}
            </X-columns>
        {{else}}
            <p>
                There are currently no builds to show
            </p>
        {{/if}}
    {{/content}}
{{/extend}}
