{{#extend "layout"}}
    {{#content "body"}}
    
        {{>jobBanner job=job}}

        {{#if session.isAdmin}}
            <x-content>
                Admin : <a href="/settings/job/{{job.id}}"><i class="icon icon-gear"></i></a>
            </x-content>
        {{/if}}

        <x-content>
            {{#if buildThatBrokeJob}}
                <x-badge class="--danger">Broke</x-badge> {{ago buildThatBrokeJob.ended}} by 
                {{#each brokenByUsers}}
                    <a href="/user/{{this.id}}">{{this.name}}</a>
                {{/each}} @ build <a href="/build/{{buildThatBrokeJob.id}}">{{buildThatBrokeJob.build}}</a>
            {{/if}}
        </x-content>

        <x-list class="--dense jobsList">
            {{#if jobBuilds.items}}
                {{#each jobBuilds.items}}
                    <x-list-row class="job-buildItem">
                        <a class="job-buildTitle" href="/build/{{id}}">
                            <div class="jobsList-statusFlag jobsList-statusFlag--{{statusTranslate status}}"></div>
                        </a>
                        <x-list-cell class="jobsList-buildTitle">
                            <div>
                                <a class="job-buildTitle" href="/build/{{id}}">
                                    {{build}}
                                </a>
                            </div>
                        </x-list-cell>
                        <x-list-cell class="jobsList-status">
                            <div class="card-status card-status--{{statusTranslate status}}"></div>
                            <div>
                                {{deltaTranslate delta status}}
                            </div>
                            <div>
                                {{ago started}} @ {{shortTime started}}
                            </div>
                        </x-list-cell>    

                        <x-list-cell>
                            {{#each involvements}}
                                <li_>
                                    {{#gt @index 0}},{{/gt}}
                                    {{revision}} - by 
                                    {{#if userId}}
                                        <a href="/user/{{userId}}">{{externalUsername}}</a>
                                    {{else}}
                                        {{externalUsername}}
                                    {{/if}}
                                    {{gistOf description 20 "..."}} 
                                </li_>
                            {{/each}}
                        </x-list-cell>
                    </x-list-row>
                {{/each}}

            {{else}}
                <x-list-row>
                    This job hasn't built yet
                </x-list-row>
            {{/if}}

        </x-list>

        {{{pager baseUrl jobBuilds }}}

    {{/content}}
{{/extend}}


