{{#extend "layout"}}
    {{#content "body"}}
        <h1>{{job.name}}</h1>

        {{#if session.isAdmin}}
            Admin : 
            <a href="/settings/job/{{job.id}}">
                <i class="icon icon-gear"></i>
            </a>
        {{/if}}

        <x-list>
            {{#if jobBuilds.items}}
                {{#each jobBuilds.items}}
                    <x-list-row class="job-buildItem job-buildItem--{{statusTranslate status}}">
                        <x-list-cell>
                            <div class="card-status card-status--{{statusTranslate status}}"></div>
                            <div>
                                <a class="job-buildTitle" href="/build/{{id}}">
                                    # {{build}}
                                </a>
                            </div>
                            <div>
                                Status : {{statusTranslate status}}, {{deltaTranslate delta}}
                            </div>
                            <div>
                                {{ago started}} @ {{shortTime started}}
                            </div>
                        </x-list-cell>    

                        <x-list-cell>
                            {{#each involvements}}
                                <li_>
                                    <div>
                                        {{revision}} -                                         by 
                                        {{#if userId}}
                                            <a href="/user/{{userId}}">{{externalUsername}}</a>
                                        {{else}}
                                            {{externalUsername}}
                                        {{/if}}

                                        {{gistOf description 100 "..."}} 

                                    </div>
                                </li_>
                            {{/each}}
                        </x-list-cell>
                    </x-list-row>
                {{/each}}

            {{else}}
                This job hasn't built yet
            {{/if}}

        </x-list>

        {{{pager baseUrl jobBuilds }}}

    {{/content}}
{{/extend}}


