{{#extend "layout"}}
    {{#content "body"}}
        <h1>{{job.name}}</h1>

        {{#if session.isAdmin}}
            Admin : 
            <a href="/settings/job/{{job.id}}">
                <i class="icon icon-gear"></i>
            </a>
        {{/if}}

        <x-list class="--dense jobsList">
            {{#if jobBuilds.items}}
                {{#each jobBuilds.items}}
                    <x-list-row class="job-buildItem">
                        <a class="job-buildTitle" href="/build/{{id}}">
                            <div class="jobsList-statusFlag jobsList-statusFlag--{{statusTranslate status}}"></div>
                        </a>
                        <x-list-cell class="jobsList-buildTitle">
                            <div>
                                <a class="job-buildTitle" href="/build/{{id}}">
                                    {{build}}
                                </a>
                            </div>
                        </x-list-cell>
                        <x-list-cell class="jobsList-status">
                            <div class="card-status card-status--{{statusTranslate status}}"></div>
                            <div>
                                Status : {{statusTranslate status}}, {{deltaTranslate delta}}
                            </div>
                            <div>
                                {{ago started}} @ {{shortTime started}}
                            </div>
                        </x-list-cell>    

                        <x-list-cell>
                            {{#each involvements}}
                                <li_>
                                    {{#gt @index 0}},{{/gt}}
                                    {{revision}} -                                         by 
                                    {{#if userId}}
                                        <a href="/user/{{userId}}">{{externalUsername}}</a>
                                    {{else}}
                                        {{externalUsername}}
                                    {{/if}}
                                    {{gistOf description 20 "..."}} 
                                </li_>
                            {{/each}}
                        </x-list-cell>
                    </x-list-row>
                {{/each}}

            {{else}}
                This job hasn't built yet
            {{/if}}

        </x-list>

        {{{pager baseUrl jobBuilds }}}

    {{/content}}
{{/extend}}


