{{#extend "layout"}}
    {{#content "body"}}
        <h1>{{job.name}}</h1>

        {{#if session.isAdmin}}
            Admin : 
            <a href="/settings/job/{{job.id}}">
                <i class="icon icon-gear"></i>
            </a>
        {{/if}}

        <ul class="list job-buildsList">
            {{#if jobBuilds.items}}
                {{#each jobBuilds.items}}
                    <li class="list-item card">
                        <div class="card-status card-status--{{statusTranslate status}}"></div>
                        <div class="card-content">
                            <div>
                                <a class="job-buildTitle" href="/build/{{id}}">
                                    # {{build}}
                                </a>
                            </div>
                            <div>
                                Status : {{statusTranslate status}}, {{deltaTranslate delta}}
                            </div>
                            <div>
                                {{ago started}} @ {{shortTime started}}
                            </div>
                        </div>    

                        <ul class="card-content">
                            {{#each involvements}}
                                <li_>
                                    <div>
                                        {{revision}} -                                         by 
                                        {{#if userId}}
                                            <a href="/user/{{userId}}">{{externalUsername}}</a>
                                        {{else}}
                                            {{externalUsername}}
                                        {{/if}}

                                        {{gistOf description 100 "..."}} 

                                    </div>
                                </li_>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}

            {{else}}
                This job hasn't built yet
            {{/if}}

        </ul>

        {{{pager baseUrl jobBuilds }}}

    {{/content}}
{{/extend}}


