{{#extend "layout"}}
    {{#content "body"}}
        <h1>{{job.name}}</h1>

        {{#if session.isAdmin}}
            <a href="/settings/job/{{job.id}}">
                <img class="icon" src="/images/settings128_crusta.png" />
            </a>
        {{/if}}

        <h2>Builds</h2>
        <ul class="list">
            {{#if jobBuilds.items}}
                {{#each jobBuilds.items}}
                    <li class="list-item">
                        <div>
                            <a class="job-buildTitle" href="/build/{{id}}">
                                # {{build}}
                            </a>
                        </div>
                        <div>
                            Status : {{statusTranslate status}}
                        </div>
                        <div>
                            {{ago started}} @ {{shortTime started}}
                        </div>

                        <h3>Revisions</h3>
                        <ul>
                            {{#each __revisions}}
                                <li_>
                                    <div>
                                        {{revision}} -                                         by 
                                        {{#if __user}}
                                            <a href="/user/{{__user.id}}">{{__user.name}}</a>
                                        {{else}}
                                            {{user}}
                                        {{/if}}

                                        {{gistOf description 100 "..."}} 

                                    </div>
                                </li_>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}

                {{{pager ../job.__baseUrl jobBuilds }}}

            {{else}}
                This job hasn't built yet
            {{/if}}

        </ul>

    {{/content}}
{{/extend}}


