{{#extend "layout"}}
    {{#content "body"}}
        <div>
            <h1>Reference Log {{id}}</h1>
            
            {{#if referenceLog.error}}
                {{referenceLog.error}}
            {{else}}
                <div>
                    
                    <div>
                        <select class="referenceLog-logParser">
                            {{#each logParsers}}
                                <option value="{{this}}" {{markSelected ../activeLogParser this}}>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div>
                        <select class="referenceLog-vcsType">
                            {{#each VCSTypes}}
                                <option value="{{this}}" {{markSelected ../activeVCSType this}}>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>


                    {{#if parsedLog}}
                        <div>
                            <h2>Errors</h2>
                            <ul class="buildLog">
                                {{#each parsedLog}}
                                    <li class="buildLog-item buildLog-item--{{type}}">
                                        {{text}}
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/if}}

                    <h2>Revisions</h2>
                    <ul class="list">
                        {{#if referenceLog.revisions}}
                            {{#each referenceLog.revisions}}
                                <li class="list-item list-item--textContent">
                                    revision : {{revision}}
                                    message : {{description}}
                                    <h3>Files</h3>
                                    <ul>
                                    {{#each files}}
                                        <li class="revision-file revision-file--{{#if isFault}}atFault{{/if}}">
                                            {{file}}
                                        </li>
                                    {{/each}}
                                    </ul>
                                </li>
                            {{/each}}
                        {{else}}
                            <li>
                                No revisions defined
                            </li>
                        {{/if}}
                    </ul>

                </div>
            {{/if}}

        </div>
    {{/content}}
{{/extend}}


