{{#extend "layout"}}
    {{#content "body"}}
        <div>
            <h1>Reference Logs</h1>
            
            {{#if referenceLogs.error}}
                {{referenceLogs.error}}
            {{else}}
                <x-list class="--dense">
                    {{#each referenceLogs.items}}
                        <x-list-row>
                            <a href="/referenceLogs/{{this}}">{{this}}</a>
                        </x-list-row>
                    {{/each}}
                </x-list>

                {{{pager baseUrl referenceLogs }}}

            {{/if}}

        </div>
    {{/content}}
{{/extend}}


