{{#extend "layout"}}
    {{#content "body"}}
        <div>
            <h1>{{user.name}}</h1>
            {{#if session.canViewUserPage}}
                <a href="/settings/user/{{user.id}}">Settings</a>
            {{/if}}

            <h2>{{user.name}}'s recent builds</h2>
            <ul>
                {{#each buildInvolvements}}
                    <li>
                        {{__build.__job.name}}
                        status : {{__build.status}}
                    </li>
                {{/each}}
            </ul>

        </div>
    {{/content}}
{{/extend}}


