{{#extend "layout"}}
    {{#content "body"}}
        <h1>Users</h1>
        <x-list class="--dense">
            {{#each users}}
                <x-list-row>
                    <x-list-cell>
                        <a href="/user/{{id}}">{{name}}</a>
                    </x-list-cell>

                    {{#each userMappings}}
                        <x-list-cell>
                            Mapped to :
                            {{#if __error}}
                                {{__error}}
                            {{else}}
                                {{__vcServerBinding.name}}
                            {{/if}}
                        </x-list-cell>
                    {{/each}}
                </x-list-row>
            {{/each}}
        </x-list>
    {{/content}}
{{/extend}}


