{{#extend "layout"}}
    {{#content "body"}}
        <div>
            <h1>{{user.name}}</h1>
            {{#if session.canViewUserPage}}
                <a href="/settings/user/{{user.id}}">Settings</a>
            {{/if}}

            <h2>{{user.name}}'s builds</h2>
            <x-list>
                {{#if builds.items}}
                    {{#each builds.items}}
                        <x-list-row class="{{statusTranslate status}}">
                            <x-list-cell>
                                <a href="/build/{{id}}">{{build}} - {{__job.name}}</a>
                                {{ago started}}
                            </x-list-cell>
                        </x-list-row>
                    {{/each}}
                {{else}}
                    <p>
                        {{user.name}} hasn't triggered any builds yet.
                    </p>
                {{/if}}
            </x-list>

            {{{pager baseUrl builds }}}

        </div>
    {{/content}}
{{/extend}}


