@using Wbtb.Core.Common; 
@using Wbtb.Core.Web; 
@using Humanizer; 
@model BuildFlagsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<x-list class="--dense jobsList">

    @if(Model.BuildFlags.Items.Any())
    {
            <x-list-row>
                <x-list-cell>
                    Build
                </x-list-cell>
                <x-list-cell>
                    Type
                </x-list-cell>
                <x-list-cell>
                    Date
                </x-list-cell>
                <x-list-cell>
                    Is reset
                </x-list-cell>
                <x-list-cell>
                    Description
                </x-list-cell>
            </x-list-row>

        @foreach (ViewBuildFlag buildFlag in Model.BuildFlags.Items)
        { 
            <x-list-row>
                <x-list-cell>
                    <a href="/build/@buildFlag.BuildId">@buildFlag.BuildId</a>
                </x-list-cell>
                <x-list-cell>
                    @buildFlag.Flag
                </x-list-cell>
                <x-list-cell>
                     @buildFlag.CreatedUtc.ToLocalTime().Humanize() 
                    <div class="quiet">
                        (@buildFlag.CreatedUtc.ToLocalTime().ToISOShort())
                    </div>
                </x-list-cell>
                <x-list-cell>
                    @(buildFlag.Ignored ? "Yes" : "")
                </x-list-cell>
                <x-list-cell>
                    @buildFlag.Description
                </x-list-cell>
                <x-list-cell>
                @if (Model.IsAdmin && !buildFlag.Ignored)
                { 
                    <a href="/buildflag/reset/@buildFlag.BuildId/@buildFlag.Flag">Ignore</a>
                    <a class="buildFlags-delete" href="javascript:void(0)" data-buildflagid="/buildflag/delete/@buildFlag.Id">Delete</a>
                }
                </x-list-cell>

            </x-list-row>
        }

    } else {
        <x-list-row>
            There an no issues to report
        </x-list-row>
    }

</x-list>

@ViewHelpers.PagerBar(Model.BaseUrl, Model.BuildFlags)
