@using Wbtb.Core.Common;
@using Wbtb.Core.Web;
@model IncidentPageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Incident @Model.IncidentBuild.Id</h1>
<div>
    
    <div>
        Breaking build : @ViewHelpers.BuildLink(Model.IncidentBuild)
    </div>

    @if (Model.FixingBuild != null)
    {
        <div>
            Fixed by : @ViewHelpers.BuildLink(Model.FixingBuild)
        </div>
    }

    <div>
        Job : @ViewHelpers.JobLink(Model.Job)
    </div>

    @if (Model.IsActive)
    {
        <div>
            Incident is ongoing as of @Model.IncidentBuild.EndedUtc.ToHumanString(),
            build broken @Model.IncidentBuild.EndedUtc.Ago()
        </div>        
    }


    @if (Model.InvolvedBuilds.Any())
    {
        <text>
            Involved builds:
        </text>

        <x-list>

        @foreach (Build involvedBuild in Model.InvolvedBuilds)
        {
            <x-list-row>
                @ViewHelpers.BuildLink(involvedBuild)
            </x-list-row>
        }
        </x-list>

    }
</div>
