@using Wbtb.Core.Common;
@using Wbtb.Core.Web; 
@using Humanizer;
@model JobsPageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Jobs.Any())
{
    <x-columns class="--four">

    @foreach(ViewJob job in Model.Jobs)
    { 
        <x-card class="--stroke @ViewHelpers.BuildStatusToCSSClass(job.LatestBuild)">
            <x-card-stroke class="--@ViewHelpers.BuildStatusToCSSClass(job.LatestBuild)"></x-card-stroke>
            
            <a class="jobs-title" href="/job/@job.Id">
                <x-cover class="jobs-image" @ViewHelpers.StyleImageUrl(job.Image)></x-cover>
            </a>

            <x-card-pad>
                <h4 class="bold">
                    <a class="jobs-title" href="/job/@job.Id">@job.Name</a>
                </h4>

                @if(job.LatestBuild != null)
                { 
                    <text>

                        last build was <a href="/build/@job.LatestBuild.Id">@job.LatestBuild.Identifier</a>,
                                
                        @if (@job.LatestBuild.EndedUtc.HasValue)
                        {
                            <text>@job.LatestBuild.EndedUtc.Ago() ago</text>
                        }
                        else 
                        {
                            <text>started @job.LatestBuild.StartedUtc.Ago() ago</text>
                        }

                        @if (job.DeltaBuild != null && job.DeltaBuild.Status == BuildStatus.Failed)
                        {
                            <div>
                                Broken  
                                @if (job.DeltaBuild.Id != job.LatestBuild.Id) 
                                { 
                                    <text>by</text> <a href="/build/@job.DeltaBuild.Id">@job.DeltaBuild.Identifier </a> 
                                    @if(job.DeltaBuild.EndedUtc.HasValue)
                                    {
                                        <text>
                                            @job.DeltaBuild.EndedUtc.Ago() ago
                                        </text>
                                    }
                                }
                            </div>
                        }


                    </text>
                }
                
                @if(job.LatestBuild == null){ 
                    <span>
                        hasn't run yet
                    </span>
                }

            </x-card-pad>
        </x-card>
    }
    
    </X-columns>
}

@if(!Model.Jobs.Any())
{
    <x-card>
        <x-card-pad>
            There are currently no builds to show.
        </x-card-pad>
    </x-card>
}
