@using Wbtb.Core.Common;
@using Wbtb.Core.Web; 
@model JobPageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("JobBanner", Model.Job)

<x-content>
    <x-columns class="--two-one">
        <x-card class="--stroke @ViewHelpers.BuildStatusToCSSClass(Model.Job.LatestBuild)">
            <x-card-stroke class="--@ViewHelpers.BuildStatusToCSSClass(Model.Job.DeltaBuild)"></x-card-stroke>
            <x-card-pad>
                @if (!string.IsNullOrEmpty(Model.Job.Description))
                {
                    <div>
                        @(Model.Job.Description)
                    </div>
                }
                <wbtb-labels>
                    @if (Model.Stats.JobDuration.HasValue)
                    {
                        <wbtb-label>Lifespan</wbtb-label>
                        <div>
                            @Model.Stats.JobDuration.ToHumanString(), from @Model.Stats.StartUtc.ToHumanString() to @Model.Stats.LatestBuild.EndedUtc.ToHumanString()
                        </div>
                    }

                    @if (Model.Stats.LatestBreakingBuild != null)
                    {
                        <wbtb-label>Last incident</wbtb-label>
                        <div>
                            @ViewHelpers.BuildLink(Model.Stats.LatestBreakingBuild)
                            @Model.Stats.LatestBreakingBuild.EndedUtc.ToHumanString() <span class="quiet">@Model.Stats.LatestBreakingBuild.EndedUtc.Ago() ago</span>
                            @if (Model.Stats.LatestBreakDuration.HasValue)
                            {
                                <text>, which lasted @Model.Stats.LatestBreakDuration.ToHumanString()</text>
                            }
                        </div>
                    }

                    @if (Model.Stats.TotalBuilds == 0)
                    {
                        <wbtb-label>Build count</wbtb-label>
                        <div>
                            Project hasn't built yet
                        </div>
                    }

                    @if (Model.Stats.TotalBuilds > 0)
                    {
                        <wbtb-label>Build count</wbtb-label>
                        <div>
                            @(Model.Stats.TotalBuilds) times
                        </div>

                        <wbtb-label>Fail rate</wbtb-label>
                        <div>
                            @if (Model.Stats.FailRatePercent == 0)
                            {
                                <text>
                                    No fails detected
                                </text>
                            }

                            @if (Model.Stats.FailRatePercent > 0)
                            {
                                <text>
                                    @(Model.Stats.FailRatePercent)%
                                </text>
                            }
                        </div>
                    }

                </wbtb-labels>
            </x-card-pad>
        </x-card>
        <x-card>
            <x-card-pad>
                <wbtb-labels>

                    <wbtb-label>Incidents</wbtb-label>
                    <div>
                        @if (Model.Stats.Incidents == 0)
                        {
                            <text>
                                None
                            </text>
                        }
                        else
                        {
                            <a href="/incidents/@Model.Job.Id">@Model.Stats.Incidents</a>
                        }
                    </div>

                    @if (Model.Job.Message.Any())
                    {
                        <wbtb-label>Alerts</wbtb-label>
                        <div>
                            @foreach (MessageHandler message in Model.Job.Message)
                            {
                                <div>
                                    @message.Group via @message.Plugin
                                </div>
                            }
                        </div>
                    }

                    <wbtb-label>Log parsers</wbtb-label>
                    <div>
                        @if (Model.Job.LogParsers.Any())
                        {
                            <ul>
                                @foreach (string logParser in Model.Job.LogParsers)
                                {
                                    <li>
                                        @logParser
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <text>
                                none
                            </text>
                        }
                    </div>
                </wbtb-labels>
            </x-card-pad>
        </x-card>
    </x-columns>
</x-content>

<x-content>
    @if(Model.Builds.Items.Any())
    {
        <x-list class="--dense jobsList">

            @foreach (ViewBuild build in Model.Builds.Items)
            {
                <x-list-row>
                    <x-list-cell class="jobsList-statusFlagContainer">
                        <a class="job-buildTitle" href="/build/@build.Id">
                            <div class="jobsList-statusFlag jobsList-statusFlag--@ViewHelpers.BuildStatusToCSSClass(build)"></div>
                        </a>
                    </x-list-cell> 
                    <x-list-cell class="jobsList-buildTitle">
                        <div>
                            <a class="job-buildTitle" href="/build/@build.Id">
                                @build.Identifier
                            </a>
                        </div>
                    </x-list-cell>
                    <x-list-cell class="jobsList-status">
                        <div class="card-status card-status--@ViewHelpers.BuildStatusToCSSClass(build)"></div>
                        <div>
                            @ViewHelpers.TranslateBuildStatus(build) 
                        </div>
                        <div>
                            @build.VisibleDateUtc.ToHumanString() <span class="quiet">@build.VisibleDateUtc.Ago() ago</span>
                        </div>
                    </x-list-cell>    

                    <x-list-cell>
                        @foreach(ViewBuildInvolvement involvement in build.BuildInvolvements)
                        {
                            <li>
                                @involvement.RevisionCode -
                                @ViewHelpers.BuildInvolvementUserLink(involvement)
                                @if (involvement.Revision != null)
                                { 
                                    @ViewHelpers.GistOf(involvement.Revision.Description, 20, "...") 
                                }
                            </li>
                        }

                        @if (build.IncidentReport != null)
                        {
                            <span class="jobsList-incidentReport">
                                @build.IncidentReport.Summary
                            </span>
                        }

                    </x-list-cell>
                </x-list-row>
            }
        </x-list>
    }
</x-content>

@ViewHelpers.PagerBar(Model.BaseUrl, string.Empty, Model.Builds, Model.Config)
