@using Wbtb.Core.Common;
@using Wbtb.Core.Web;
@model ProcessPageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Process log</h1>

@if (Model.ActiveProcesses.Any())
{
    <h3>Active (@Model.ActiveProcesses.Count())</h3>
    <x-list class="--dense">
        <x-list-row class="--header">
            <x-list-cell>
                Task
            </x-list-cell>
            <x-list-cell>
                Build
            </x-list-cell>
            <x-list-cell>
                Daemon
            </x-list-cell>
            <x-list-cell>
                Additional
            </x-list-cell>
        </x-list-row>

        @foreach (DaemonActiveProcess item in Model.ActiveProcesses)
        {
            <x-list-row>
                <x-list-cell>
                    @item.Task.Id
                    <div class="quiet">
                        @item.CreatedUtc.Ago() ago
                    </div>
                </x-list-cell>
                <x-list-cell>
                    @ViewHelpers.BuildLink(item.Build)
                </x-list-cell>
                <x-list-cell>
                    @item.Daemon.Name
                </x-list-cell>
                <x-list-cell>
                    @item.Description
                </x-list-cell>
            </x-list-row>
        }
    </x-list>
}
else
{
    <div>
        No active processes
    </div>
}

@if (Model.BlockingDaemonTasks.Any())
{
    <h3>Blocking (@Model.BlockingDaemonTasks.Count)</h3>
    <x-list class="--dense">
        <x-list-row class="--header">
            <x-list-cell>
                Task
            </x-list-cell>
            <x-list-cell>
                Build
            </x-list-cell>
            <x-list-cell>
                stage
            </x-list-cell>
        </x-list-row>

        @foreach (DaemonTask item in Model.BlockingDaemonTasks)
        {
            <x-list-row>
                <x-list-cell>
                    @item.Id
                    <div class="quiet">
                        @item.CreatedUtc.Ago() ago
                    </div>
                </x-list-cell>
                <x-list-cell>
                    @item.BuildId
                </x-list-cell>
                <x-list-cell>
                    @((DaemonTaskTypes)item.Stage)
                </x-list-cell>
            </x-list-row>
        }
    </x-list>
}

@if (Model.BlockedProcesses.Any())
{
    <h3>Blocked (@Model.BlockedProcesses.Count)</h3>
    <x-list class="--dense">
        <x-list-row class="--header">
            <x-list-cell>
                Task
            </x-list-cell>
            <x-list-cell>
                Build
            </x-list-cell>
            <x-list-cell>
                Stage
            </x-list-cell>
        </x-list-row>

        @foreach (DaemonBlockedProcess item in Model.BlockedProcesses)
        {
            <x-list-row>
                <x-list-cell>
                    @item.Task.Id
                    <div class="quiet">
                        @item.CreatedUtc.Ago() ago
                    </div>
                </x-list-cell>
                <x-list-cell>
                    @item.Task.BuildId
                </x-list-cell>
                <x-list-cell>
                    @((DaemonTaskTypes)item.Task.Stage)
                    <div>
                        @item.Reason
                    </div>
                    <div>
                        Failed @item.ErrorCount time(s)
                    </div>
                </x-list-cell>
            </x-list-row>
        }
    </x-list>
}

@if (Model.DoneProcesses.Any())
{
    <h3>Done (@Model.DoneProcesses.Count())</h3>
    <x-list class="--dense">
        <x-list-row class="--header">
            <x-list-cell>
                Task
            </x-list-cell>
            <x-list-cell>
                Build
            </x-list-cell>
            <x-list-cell>
                Daemon
            </x-list-cell>
        </x-list-row>

        @foreach (DaemonDoneProcess item in Model.DoneProcesses)
        {
            <x-list-row>
                <x-list-cell>
                    @item.TaskId
                    <div class="quiet">
                        @item.DoneUTc.Ago() ago
                    </div>
                </x-list-cell>
                <x-list-cell>
                    @item.BuildId
                </x-list-cell>
                <x-list-cell>
                    @item.Daemon
                </x-list-cell>
            </x-list-row>
        }
    </x-list>
}
else
{
    <div>
        No done processes
    </div>
}

