{{! Global layout for all pages - everything inherits from this, directly or via another layout, so keep it _common_ }}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Righteous&family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrip.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrip-theme-default.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrip-theme-darkmoon.css" type="text/css">
        <link rel="stylesheet" href="/css/icons/iconfont.css" type="text/css">
        <link rel="stylesheet" href="/css/style{{layout.bundlemode}}.css" type="text/css">
        <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png'/>
        <meta http-equiv="content-type" name="description" content="">
        <meta http-equiv="content-type" name="keywords" content="">
        <title>{{layout.title}}</title>
        {{{block "basehead"}}}
    </head>
    <body>
        <header>
            <x-header class="--sticky">
                <x-header-logoContainer>
                    <a href="/">
                        <x-header-logo>
                            <a class="header-title" href="/">WBTB?
                                <i class="icon icon-fingerprint"></i>
                            </a>
                        </x-header-logo>
                    </a>
                </x-header-logoContainer>

                <x-header-content>

                </x-header-content>    
            </x-header>
        </header>

        <aside>
            <ul class="sideMenu">
                {{#if session.isLoggedIn}}
                    <li class="sideMenu-header">
                        Hi there <a class="header-username" href="/settings">{{session.name}}</a>
                    </li>
                    <li class="sideMenu-item active">
                        <a href="javascript:void(0)" data-function-logout class="sideMenu-anchor" title="Logout">
                            <span class="sideMenu-iconWrapper">
                                <i class="icon icon-logout"></i>
                            </span>
                            logout
                        </a>
                    </li>
                {{else}}
                    <li>
                        <a class="header-login" data-function-login href="/login" title="Login">
                            <i class="icon icon-login"></i>
                        </a>
                    </li>
                {{/if}}

                <li class="sideMenu-item">
                    <a class="sideMenu-anchor" href="/users" title="Users">
                        <span class="sideMenu-iconWrapper">
                            <i class="icon icon-users"></i> 
                        </span>
                        Users
                    </a> 
                </li>

                <li class="sideMenu-item">
                    <a class="sideMenu-anchor" href="/contactLog" title="Contact log">
                        <span class="sideMenu-iconWrapper">
                            <i class="icon icon-log"></i> 
                        </span>
                        Contact log
                    </a> 
                </li>
                <li class="sideMenu-item">
                    <a class="sideMenu-anchor" href="/referenceLogs" title="Reference logs">
                        <span class="sideMenu-iconWrapper">
                            <i class="icon icon-log"></i> 
                        </span>
                        Ref logs
                    </a> 
                </li>        
                {{#if session.isAdmin}}
                    <li class="sideMenu-item">
                        <a class="sideMenu-anchor" href="/settings" title="Profile">
                            <span class="sideMenu-iconWrapper">
                                <i class="icon icon-user"></i> 
                            </span>
                            Profile
                        </a> 
                    </li>
                    <li class="sideMenu-item">
                        <a class="sideMenu-anchor" href="/settings/system" title="System">
                            <span class="sideMenu-iconWrapper">
                                <i class="icon icon-gear"></i> 
                            </span>
                            System
                        </a>
                    </li>
                    <li class="sideMenu-item">
                        <a class="sideMenu-anchor" href="/log" title="Log">
                            <span class="sideMenu-iconWrapper">
                                <i class="icon icon-log"></i> 
                            </span>
                            Log
                        </a> 
                    </li>
                {{/if}}

            </ul>
        </aside>

        <main>
            {{{block "body"}}}
            <footer>
                <div class="layout-scaffold">
                </div>
            </footer>
        </main>



        <script src="/scripts/scripts.js"></script>
    </body>
</html>
