{{! Global layout for all pages - everything inherits from this, directly or via another layout, so keep it _common_ }}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link rel="stylesheet" href="/css/style{{layout.bundlemode}}.css" type="text/css">
        <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png'/>
        <meta http-equiv="content-type" name="description" content="">
        <meta http-equiv="content-type" name="keywords" content="">
        <title>{{layout.title}}</title>
        {{{block "basehead"}}}
    </head>
    <body>
        <div class="layout-page">

            <header class="layout-header header">
                <div class="layout-scaffold">
                    <ul class="header-items">
                        <li>
                            <a class="header-title" href="/">Who Broke the build?</a>
                        </li>
                        {{#if session.isLoggedIn}}
                            <li>
                                Hi there <a class="header-username" href="/settings">{{session.name}}</a>
                            </li>
                        {{/if}}
                        <li>
                            {{#if session.isLoggedIn}}
                                <a class="header-logout" href="javascript:void(0)">
                                    <img class="icon" src="/images/logout128_white.png" />
                                </a>
                            {{else}}
                                <a class="header-login" href="/login">
                                    <img class="icon" src="/images/login128_white.png" />
                                </a>
                            {{/if}}

                        </li>
                    </ul>
                </div>
            </header>

            <main class="layout-main">
                {{>menu}}
                <div>
                    {{{block "body"}}}
                </div>
            </main>

            <footer>
                <div class="layout-scaffold">
                </div>
            </footer>

        </div>
        <script src="/scripts/scripts.js"></script>
    </body>
</html>
